.stock-container {
  padding-left: 3em;
  padding-right: 3em;
  margin-top: 3em;
}

table {
  display: flex;
  justify-content: center;
  border: 1px solid gray;
}
td {
  width: 30em;
}

.completed{
  text-decoration: line-through;
}

.passed{
  background-color: #10375c;
}